body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 0; 
}

select {
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 20%; 
    box-sizing: border-box;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    display: flex;
    align-items: center; 
}

img {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
}

.column p {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.column ul {
    display: flex;
    flex-direction: column; 
}
